.box {
    width:60px;
    height: 60px;
    color: #fff ;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left; 
    /* float - hien thi chieu ngang */
}

.box3 {
    background-color: firebrick;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* padding: 10px */
    /* padding: 10px (top-bottom) 12px (right-left) */
    /* padding: 10px (top) 12px (right-left) 8px (bottom) */
    /* padding: 10px (top) 12px (right) 8px (bottom)  6px (left)*/

    border-width: 10px;
    border-style: solid;
    border-color: #333;
    /* border-top-width 
    border-bottom-width
    border-left-width
    border-right-width */
    /* border: 10px solid #333 */

    margin-left: 20px;
    /* margin: 10px 20px 30px 40px tương tự padding */
    
    box-sizing: border-box;
    /* tự động điều chỉnh nội dung center
    padding càng lớn thì càng bị tràn viền ra */
    /* content-box: như cũ
    unset: hủy đi set border-box */
}

.header
{
    width: 100%;
    height: 100vh;
    background-image: 
    url(https://i.pinimg.com/736x/82/0f/ff/820fff1e86c8622a5777f4a6339789df.jpg),
    url(https://i.pinimg.com/736x/06/72/98/0672986f877f7e4974c443228e795e46.jpg);
    background-size: 100px;
    /* 100% 100px 
    100% auto
    auto auto*/
    background-repeat: no-repeat;
    /* ko co lenh nay se lap lai hinh anh lien tuc */
    /* repeat-x
    repeat-y */
}