body {
  margin: 0;
  height: 100vh;                       /* chiếm toàn màn hình */
  display: flex;
  justify-content: center;              /* căn giữa ngang */
  align-items: center;                  /* căn giữa dọc */
  background: #f0f0f0;
  flex-direction: column;
}

p, strong, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body > div {
    display: flex;
    flex-direction: column;
}

#btn {
    display: flex;
    flex-direction: row;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    transition: opacity .2s ease;
}

.btn--size-l {
    padding: 16px 56px;
}

.btn--size-s {
    padding: 8px 32px;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 16px;
}

.btn--success {
    background-color: #71be34;

}

.btn--warn {
    background-color: #ffb702;

}

.btn--danger{
    background-color: #ff623d;

}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0,0,0,0.08);
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    transition: all linear .3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(110%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast +.toast {
    margin-top: 24px;
}

.toast__icon, 
.toast__close {
    padding: 0 16px;
}

.toast__icon {
    padding: 0 16px;
    font-size: 24px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    columns: #333;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: rgba (rgba(0,0,0,0.03));
    cursor: pointer;
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon{
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon{
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon{
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon{
    color: #ff623d;
}

